body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 13px;
}

.wide-container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 13px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.title__shadow {
  font-size: 90px;
  line-height: 90px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8px;
  opacity: 0.06;
  width: 100%;
}

.title__span,
.title__shadow-span {
  color: $color-purple;
}

.sub-title {
  font-size: 20px;
  text-align: center;
}
