body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200;
  margin: 0 auto;
  padding: 0 13px;
}

.wide-container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 13px;
}
