.header {
  position: absolute;
  padding-top: 40px;
  width: 100%;
  z-index: 5;

  &--slick {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0px 0px 10px lightgray;
    animation: slick-header 0.5s;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}

.header__logo {
  margin-right: auto;
}

.header__auth {
  font-size: 14px;
}

.header__buttons,
.header__account {
  display: none;
  &--active {
    display: flex;
  }
}

.header__account-nickname {
  font-weight: 600;
}

.header__auth-button {
  background: none;
  border: none;
  &:hover {
    color: $color-purple;
  }
}

@media (max-width: 1000px) {
  .header {
    position: static;
    padding: 20px 0 20px 60px;
    flex: 0 0 auto;
    height: auto;

    &--slick {
      padding: 15px 0 15px 60px;
      position: fixed;
    }
  }
}
