@keyframes slick-header {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes show {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
